.mobile_tab{
    display:none;
    position: fixed;
    left:0;
    top:0;
    width:calc(100% - 60px);
    height: 100%;
    padding:15px 24px 15px 22px;
    box-sizing: border-box;
    background:#fff;
    z-index: 999;
}
.tab_overlay{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index: 998;
    display: none;
}
.close_tab{
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
}
.on{
    display: block;
}

.mobile_tab header{
    width:100%;
    line-height: 50px;
}
.mobile_tab header .logo_wrap h1{
    float: left;
    width:50%;
    height: 50px;
    padding-top:0;
}
.mobile_tab header .logo_wrap img{
    width:100%;
    height:auto;
}
.mobile_tab header .login{
    float: right;
    position: relative;
}
.login input[type="button"]{
    width:80px;
    height:30px;
    background:#fff;
    border:1px solid #ccc;
    border-radius: 25px;
    color:#333;
    padding-left:20px;
    box-sizing: border-box;
    cursor: pointer;
}
.on_icon{
    width:15px;
    position: absolute;
    left:10px;
}
.on_icon img{
    width:100%;
}
.mobile_tab nav{
    clear:both;
    height:80px;
}
.mobile_tab nav ul{
    border:1px solid #bbb;
    height:100%;
    line-height: 80px;
}
.mobile_tab nav ul li{
    float: left;
    width:25%;
    height:100%;
    box-sizing: border-box;
}
.mobile_tab nav ul li:first-child,
.mobile_tab nav ul li:nth-child(2),
.mobile_tab nav ul li:nth-child(3){
    border-right: 1px solid #bbb;
    box-sizing: border-box;
}

.mobile_tab nav ul li a{
    display:block;
    height: 100%;
    position: relative;
}
.mobile_tab nav ul li a img{
    width:25px;
    height:23px;
    position: relative;
    top:40%; left:50%;
    transform: translate(-50%,-40%);
    display: block;
}
.mobile_tab b{
    font-size: 12px;
    color:#444;
    letter-spacing: -1px;
}

.m_category h5,
.m_category2 h5{
    padding-left:8px;
    color:#333;
    width:100%;
    height:30px;
    line-height: 30px;
    background:#eee;
    text-align: left;
    box-sizing: border-box;
}
.m_category ul{
    height: 240px;
    border:1px solid #bbb;
    box-sizing: border-box;
}
.m_category ul li{
    float: left;
    width:calc(100% / 3);
    height: 80px;
    padding-top:4px;
    text-align: center;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
}
.m_category ul li a img{
    display: block;
    margin:0 auto;
}
.m_category ul li a,
.m_category2 ul li a{
    font-size: 14px;
    color:#333;
}

.m_category ul li:nth-child(3),
.m_category ul li:nth-child(6),
.m_category ul li:nth-child(9){
    border-right: 0;
}
.m_category ul li:nth-child(7),
.m_category ul li:nth-child(8),
.m_category ul li:nth-child(9),
.m_category2 ul li:nth-child(5){
    border-bottom: 0;
}
.m_category2 ul{
    border:1px solid #bbb;
}
.m_category2 ul li a{
    display: block;
    height: 30px;
    padding:5px 8px 5px;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
}
.mobile_tab footer{
    position: absolute;
    height:40px;
    line-height: 40px;
    text-align: center;
    left:0;
    bottom:0;
    background:#eee;
}
